header {
  font-family: Avantgarde; 
  font-size: 30px; font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  line-height: 26.4px;
  color: black; 
  padding:5px;
  text-align: center;
  border: 1px solid #666; /* dark outline */
  border-radius: 10px;  /* rounded corners */
  display:inline;
  position: relative;
  top: 6px; 
  background-color: LightGoldenRodYellow;
}

header.log {
  font-family: Avantgarde; 
  font-size: 25px; font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  line-height: 26.4px;
  color: black; 
  padding:5px;
  text-align: center;
  border: 1px solid #666; /* dark outline */
  border-radius: 10px;  /* rounded corners */
  display:inline;
  position: relative;
  top: 6px; 
  background-color: LightPink;
  
}
header.search {
  font-family: Avantgarde; 
  font-size: 25px; font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  line-height: 26.4px;
  color: black; 
  padding:5px;
  text-align: center;
  border: 1px solid #666; /* dark outline */
  border-radius: 10px;  /* rounded corners */
  display:inline;
  position: relative;
  top: 6px;
  background-color: LightPink;
}


body {
 font-family: Avantgarde; 
 font-weight: bold condensed;
 color: black; 
 font-size: 20px;
 text-align: center;
 
}

h1 {
 font-family: Avantgarde; 
 font-weight: bold condensed;
 color: DarkOrange; 
 font-size: 25px;
 padding:5px;
 background-color: LightGoldenRodYellow;
}

h2 {
 color: Black; 
 font-size: 25px;
 padding:5px;
 text-align: left;
 background-color: LightPink;
}

#content {
    padding:3px;
    background-color: PapayaWhip;
   
}

p {
  padding:10px;
  border: 1px solid #666; /* dark outline */
  border-radius: 10px;  /* rounded corners */
  text-align: left;
  color: Black;
  background-color: Lavender;
}
    
#main_nav ul { padding: 0; margin: 0; }

#main_nav li  {
  list-style-type: none; /* remove bullet points */ 
}

#main_nav li a {
   text-decoration: none; /* remove underline */
   border-radius: 10px;  /* rounded corners */
   margin: 5px;
   padding: 5px;
   color: black;
   font-weight: bold;
   display:inline-block;
  background-color: Yellow;
   /* nice gradient shade on the buttons */
   background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1));

   border: 1px solid #666; /* dark outline */
}

nav li:active {
  background-color: #ccc;
  background-image: none;
  box-shadow: inset 0 3px 3px rgba(0, 0, 0, .2);
}

footer {
 font-family: Avantgarde; 
 font-weight: bold condensed;
 color: #A9B0B7; 
 font-size: 10px;
 padding:1px;
 background-color: Lavender;
}

button.history{
 /*These lines override the previous styling of buttons*/
background-size: cover;
width:60px;
height: 30px;
/*These lines position the back button inside the header*/
position:absolute;
left:316px;
top:8px; 
background-color: Lavender;
  
}

button.home{
 /*These lines override the previous styling of buttons*/
background-size: cover;
width:60px;
height: 30px;
/*These lines position the back button inside the header*/
position:absolute;
left:316px;
top:8px; 
background-color: Lavender;
  
}

button.back{
 /*These lines override the previous styling of buttons*/
background-size: cover;
width:60px;
height: 30px;
 
/*These lines position the back button inside the header*/
position:absolute;
left:16px;
top:8px; 
  background-color: Lavender;
}

button.edit{
 /*These lines override the previous styling of buttons*/
background-size: cover;
width:100px;
height: 30px;
/*These lines position the back button inside the header*/
left:16px;
top:20px; 
float: left;
background-color: Lavender;
  
}

button {
 /*center the button*/
display: block;
margin-left: auto;
margin-right: auto;
 
/* add your code to set top and bottom margins */
 	margin-top: 1px;
  margin-bottom: 5px;
 
/*add an image to your button*/
background-size: cover;

/*set width and height for the button*/
width:100px;
height: 30px;
background-color: Lavender;
}

#link1 {
  color: black;
  padding: 5px;
  text-align: center;
  border: 1px solid #666; /* dark outline */
  background-color: Lavender;
}
#link2 {
  color: black;
  padding: 5px;
  text-align: center;
  border: 1px solid #666; /* dark outline */
  border-radius: 10px;  /* rounded corners */
  background-color: Lavender;
}

#float ul,
ol {
    position: relative;
    display: block;
    text-align: center;
    padding: 0; 
    margin: 0;
}
#float li {
    width: auto;
    display: inline;
    list-style-type: none; /* remove bullet points */ 
}

#float li a {
   text-decoration: none; /* remove underline */
   border-radius: 10px;  /* rounded corners */
   margin: 5px;
   padding: 5px;
   color: black;
   font-weight: bold;
   display:inline-block;
   background-color: ForestGreen;
  
   /* nice gradient shade on the buttons */
   background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1));

   border: 1px solid #666; /* dark outline */
}
button {
 /*center the button*/
display: block;
margin-left: auto;
margin-right: auto;
 
/* add your code to set top and bottom margins */
 	margin-top: 1px;
  margin-bottom: 5px;
 
/*add an image to your button*/
background-size: cover;

/*set width and height for the button*/
width:150px;
height: 30px;
background-color: Lavender;
}